/*-- banner --*/
.banner{
	background:url(../images/bgimg.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:800px;
}
@media (max-width:2000px){
	header{
		margin-bottom: 2em;
	}
}
@media (max-width:1280px){
	header{
		margin-bottom: 2em;
	}
	.about {
		padding: 2em 0;
	}
}
@media (max-width: 1024px){
	header{
		margin-bottom: 2em;
	}
	.about {
		padding: 1em 0 !important;
	}
}
@media (max-width:768px){
	.banner {
		background: url(../images/bgimg.jpg) no-repeat -110px 0px;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-ms-background-size: cover;
		min-height: 550px;
	}
	header{
		margin-bottom: 1em;
	}
	.logo a {
		font-size: 1.8em;
	}
	.about {
		padding: 1.5em 0;
	}
}
@media (max-width:640px){
	.banner {
		background: url(../images/bgimg.jpg) no-repeat -240px 0px;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-ms-background-size: cover;
		min-height: 500px;
	}
	header{
		margin-bottom: 0.5em;
	}
	section .loginForm{
		margin-top: 8em;
	}
	.logo a {
		font-size: 1.6em;
	}
	.about {
		padding: 1.2em 0 0.5em !important;
	}
	.about h3 {
		font-size: 1.6em;
	}
}
@media (max-width: 568px){
	header{
		margin-bottom: 0;
	}
	.logo a {
		padding: .8em;
	}
}
@media (max-width:480px){
	header{
		margin-bottom: 0;
	}
	.banner {
		background: url(../images/bgimg.jpg) no-repeat -370px 0px;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-ms-background-size: cover;
		min-height: 595px;
	}
	.about {
		padding: 1em 0;
	}
	.footer {
		padding: 2em 0 0.5em;
	}
}
@media (max-width:320px){
	header{
		margin-bottom: 0;
	}
	.banner {
		min-height: 435px;
	}
	.logo a {
		padding: .5em .7em;
		font-size: 1.4em;
	}
	.about h3 {
		font-size: 1.4em;
	}
}


header .logo{
	background-color: #85bad9;
}
header .logo a{
	display: block;
	cursor: default;
	text-decoration: none;
	color: #fff;
	font-family: 'Archivo Narrow', sans-serif;
	padding:0.5em;
	font-size:2em;
}
header .logo a:hover{
	text-decoration: none;
}
header .login{
	padding-top: 7px;
}
header .login a{
	text-decoration: none;
	color: #85bad9;
}
header .login a:hover{
	text-decoration: underline;
}
header .login a.loginBtn{
	border-color: #85bad9;
}
header .login a.loginBtn:hover{
	text-decoration: none;
	background-color: #fff;
	color: #0c6c92;
}

section table{
	margin-bottom: 1em;
}
section table th{
	text-align: center;
}
section caption{
	color: #ff7f27;
}

section .loginForm{
	margin-top: 10em;
	color: #ff7f27;
	font-size: 1em;
}

.about {
	padding:2.5em 0;
}
.about h3 {
	font-size: 2em;
    color:#F26F62;
	text-align: center;
    font-family: 'Archivo Narrow', sans-serif;
    margin: 0 0 .5em;
}

footer{
	padding:3em 0;
	background-color: #02557f;
	color: #ffffff;
	opacity: 0.9;
}