body{padding:0;margin:0 2px;background-color:#000080;font-family:helvetica,arial,sans-serif;color:#222;line-height:1.4;}
table{border:1px solid #999;margin:1em;}
table h2,h3{padding-top:0em;}
th{border-style:solid;border-width:1px;padding:1em;background-color:#f6f6f6;}
td{background-color:#fff;font-family:helvetica,arial,sans-serif;vertical-align:top;border:1px solid #999;padding:1em;}
td.grey{background-color:#c0c0c0;}
p{padding:0;}
p.center{text-align:center;}
p.adtop{text-align:center;}
h2.grey{text-align:center;background-color:#f0f0f0;font-weight:bold;padding:.5em;border:solid 1px #ccc;}
h1.center{text-align:center;}
h2,h3{padding-top:1em;}
h1,h2,h3,h4{color:#000080;}
a:link{color:#2222ff;text-decoration:none;}
a:link:hover{color:#2222ff;text-decoration:underline;}
a:visited{color:#800080;}
a:visited:hover{color:#800080;text-decoration:none;}
a.img:visited:hover{color:#ff0;background-color:#fff;}
a.img:link:hover{color:#ff0;background-color:#fff;}
a.button{color:#fff;text-decoration:none;font-weight:bold; background-color:#000080;padding:0.5em;}
a.button:hover{color:#000080;text-decoration:none; font-weight:bold;background-color:#fff;border:2px solid #000080;padding:0.5em;}
a.butred{color:#fff;text-decoration:none;font-weight:bold; background-color:#ff0000;padding:0.5em;border:1px solid #000;}
a.butred:hover{color:#ff0000;text-decoration:none; font-weight:bold;background-color:#fff;border:1px solid #ff0000;padding:0.5em;}
div.header{padding:0em 1em 0em 1em; float:left;background-color:#000080;}
div.header a:visited{text-decoration:none;}
div.header a:visited:hover{text-decoration:none;}
div.container{background-color:#fff;border-style:solid;border-width:0px 1px;border-color:#000080;}
div.searchtop{padding:0.5em 1em 2em 2em;background-color:#000080;}
div.adtop{padding:0em 0em 0.5em 0em;clear:both;text-align:center;}
div.adrightsm{padding:1em 0em 1em 1em;float:right;margin-right:5%;width:310px;height:260px;text-align:center;font-size:90%;color:#999;}
div.adrightlg{padding:1em 0em 1em 1em;float:right;margin-right:5%;width:336px;height:280px;text-align:center;font-size:90%;color:#999;}
div.cc{text-align:center;margin-left:5%;margin-right:5%;padding-bottom:2em;font-size:80%;color:#666;}
div.crumb{clear:both;padding-top:0.3em;font-size:80%;font-style:italic;color:#444;text-align:center;background-color:#ddd;}
div.linkunit{margin-left:5%;padding-top:2em;}
div.advinfo2{text-align:center;padding:2em;font-weight:bold;}
div.nav{clear:both;padding:0.5em;background-color:#ddd;text-align:center;font-size:90%;font-weight:bold;text-decoration:none;border-width:0 0 1px 0; border-style:solid; border-color:#bbb;}
div.nav a:hover{color:#222;text-decoration:underline;font-weight:bold; background: none; border:0;}
div.nav a {color:#222;text-decoration:none;font-weight:bold;background:none;border:0;}
div.main2{padding-bottom:1em;padding-top:5px;margin-left:5%;margin-right:5%;}
div.bigadbottom{padding:2em;margin-left:40%;text-align:center;width:200px;font-weight:bold;border:solid 1px #000080;}
div.bottomsquare{padding-bottom:1em;padding-top:2em;padding-right:2em;margin-left:5%;margin-right:5%;}
div.box{padding:40px;background-color:#f8f8f8;border-color:#ddd;border-style:solid;border-width:1px;margin:2em 10%; box-shadow:10px 10px 5px #888;}
div.box h2 {padding:5px;margin:0px; background-color:#666;color:#fff;border:#ddd solid 1px;}
div.boxwarning{padding:40px;border:solid 5px #000;background-color:#ff6;margin-left:10%;margin-right:10%;}
div.boxwarning h2 {padding:5px;margin:0px; background-color:#000; color:#ff6;}
div.sharesites{margin-top:2em;margin-left:5%;margin-bottom:2em;}
div.googlesearch{margin:2em 0em;margin-left:5%;}
div.alsoon a:hover{color:#fff;text-decoration:underline;font-weight:bold; background: none; border:0;}
div.alsoon a {color:#fff;text-decoration:none; font-weight:bold;background: none; border:0;}
div.alsoon{clear:both;padding:0 0 0.5em;background:#000080;text-align:center;font-size:90%;font-weight:bold;text-decoration:none;line-height:200%;}
div.alsoon h2{color:#fff;}
div.footer{clear:both;padding:1em;background-color:#ddd;text-align:center;font-size:90%;font-weight:bold;text-decoration:none;}
div.footer a:hover{color:#222;text-decoration:underline;font-weight:bold; background: none; border:0;}
div.footer a {color:#222;text-decoration:none; font-weight:bold;background: none; border:0;}
div.footer li.inline{display:inline;border:solid #444;border-width:0 1px 0 0;padding:0 5px;}
div.tableft{float:left;margin:1em;width:40%}
div.tabright{float:right;margin:1em;width:40%}
div.tabclear{clear:both;border-width:0 0 1px 0; border-style:dashed; border-color:#ddd;}
div.pullquote{float:right;width:300px;margin:20px;text-align:center;font-size:120%;background-color:#eee;border:#ccc 1px solid;}
div.newsbox{width:300px;height:500px;float:right;padding:2em 0em 2em 2em;}
div.newsxpl{width:300px;float:right;margin:2em 0em 2em 2em;padding:1em; border:1px solid #ccc;background-color:#eee;}
div.newsxpl h2{padding:0;margin:0;color:#fff;font-style:italic;text-align:center;width:100%;background-color:#000080;}
div.newsxpl h3{padding:1em 0em 0em 0em;margin:0;}
div.facebox{width:300px;height:300px;float:right;padding:0em 0em 0em 1em;}
div.sharebot{padding-top:1em;}
div.sharebot li.shr{display:block; padding:0 0 5px 0;}
div.totop{clear:both;background-color:#ddd;text-align:right;font-size:90%;font-weight:bold;text-decoration:none;color:#000080;padding-right:0.5em;}
div.totop a:hover{color:#222;text-decoration:underline;font-weight:bold; background: none; border:0;}
div.totop a {color:#000080;text-decoration:none; font-weight:bold;background: none; border:0;}
div.citation{border:#ddd dotted 1px;padding:0.5em;width:90%;}
div.pagination {text-align:center;padding:1em;}
div.pagination li{display:inline;}
div.pagination a:link{color:#2222ff;text-decoration:none;border:solid #ccc;border-width:1px;padding:0.5em;}
div.pagination a:link:hover{color:#2222ff;text-decoration:underline;}
div.pagination a:visited{color:#800080;border:solid #ccc;border-width:1px;padding:0.5em;}
div.pagination a:visited:hover{color:#800080;text-decoration:none;}
div.bookshops{padding-left:2em;}
span.current{padding:0.5em;border:1px #000080 solid;color:#000080;font-weight:bold;}
span.prevnextnull{background-color:#eee;padding:0.5em;border:1px #ccc solid;color:#666;}
span.bold{font-weight:bold;}
span.slinks{color:#999;font-size:80%;}
span.slinks2{color:#999;}
span.italic{font-style:italic;}
span.credit{font-size:80%;font-style:italic;}
span.chem{font-size:75%;vertical-align:sub;}
span.super{font-size:75%;vertical-align:super;}
span.equation{font-size:150%;}
span.question{float:right;color:#bbb;font-size:300px;line-height:100px;}
span.pre{font-family:Courier New, Courier, monospace;}
span.dropcap{float:left;color:#222;font-size:100px;line-height:70px;padding-top:2px;font-family:Times,serif,Georgia;}
span.highlight{font-weight:bold;color:#000;}
li{padding:5px;}
li.narrow{padding:0;}
li.inline{display:inline;border:solid #aaa;border-width:0 1px 0 0;padding:0 5px;}
li.inline2{display:inline;padding:0 5px;}
li.shr{display:inline;padding:0 5px 0 0;}
ul.nobull {list-style-type: none;padding:0;margin:0;}
.sprite{padding:0;background:url(http://cdn4.explainthatstuff.com/sprite3.png) no-repeat;width:25px;height:25px;vertical-align:middle;}
img.shr1{background-position: 0px 0px;}
img.shr2{background-position: -25px 0px}
img.shr3{background-position: -50px 0px}
img.shr4{background-position: -75px 0px}
img.shr5{background-position: -100px 0px}
img.shr6{background-position: -125px 0px}
img.shr7{background-position: -150px 0px}
img.shr8{background-position: -175px 0px}
img.shr9{background-position: -200px 0px}
img.shr10{background-position: -225px 0px;}
img.shr11{background-position: -250px 0px;}
img.shr12{background-position: -275px 0px;}
img.headlogo{padding:0;background:url(http://cdn4.explainthatstuff.com/sprite3.png) no-repeat;width:350px;height:51px;background-position:0px -80px}
img.fbfollow{padding:0;background:url(http://cdn4.explainthatstuff.com/sprite3.png) no-repeat;width:25px;height:25px;background-position: -75px 0px;}
img.footlogo{padding:0;background:url(http://cdn4.explainthatstuff.com/sprite3.png) no-repeat;width:200px;height:32px;background-position:0px -136px}
img.gplus{padding:0;background:url(http://cdn4.explainthatstuff.com/sprite3.png) no-repeat;width:16px;height:16px;background-position:-200px -64px}
img{border:none;}
img.ileft{float:left;margin:1em 1em 1em 0;}
img.iright{float:right;margin:1em 0 1em 1em;}
img.icentno{margin:.5em;padding:1px;border:1px solid #999;}
img.ileftno{float:left;margin:1em 2em 1em 0;padding:1px;border:1px solid #999;}
img.irightno{float:right;margin:1em 0 1em 2em;padding:1px;border:1px solid #999;}
img.itopno{float:left;margin:1em 2em 1em 0;padding:1px;border:1px solid #999;}
img.itop{float:left;margin:1em 1em 1em 0;}
img#left{float:left;margin:1em 1em 1em 0;}
img#right{float:right;margin:1em 0 1em 1em;}
img#ets{width:350px;height:56px;}
img#appeal{width:179px;height:37px;vertical-align:middle;}
img#star{width:15px;height:16px;margin-right:2px;vertical-align:top;}
img#bmk2{width:120px;height:50px;margin-right:1em;vertical-align:middle;}
/* Cookie consent */
.cc_banner-wrapper{z-index:9001;position:relative}.cc_container .cc_btn{cursor:pointer;text-align:center;font-size:0.6em;transition:font-size 200ms;line-height:1em}.cc_container .cc_message{font-size:0.6em;transition:font-size 200ms;margin:0;padding:0;line-height:1.5em}.cc_container .cc_logo{display:none;}.cc_container .cc_logo:hover,.cc_container .cc_logo:active{opacity:1}@media screen and (min-width: 500px){.cc_container .cc_btn{font-size:0.8em}.cc_container .cc_message{font-size:0.8em}}@media screen and (min-width: 768px){.cc_container .cc_btn{font-size:1em}.cc_container .cc_message{font-size:1em;line-height:1em}}@media screen and (min-width: 992px){.cc_container .cc_message{font-size:1em}}@media print{.cc_banner-wrapper,.cc_container{display:none}}.cc_container{position:fixed;left:0;right:0;bottom:0;overflow:hidden;padding:10px}.cc_container .cc_btn{padding:8px 10px;background-color:#f1d600;cursor:pointer;transition:font-size 200ms;text-align:center;font-size:0.6em;display:block;width:33%;margin-left:10px;float:right;max-width:120px}.cc_container .cc_message{transition:font-size 200ms;font-size:0.6em;display:block}@media screen and (min-width: 500px){.cc_container .cc_btn{font-size:0.8em}.cc_container .cc_message{margin-top:0.5em;font-size:0.8em}}@media screen and (min-width: 768px){.cc_container{padding:15px 30px 15px}.cc_container .cc_btn{font-size:1em;padding:8px 15px}.cc_container .cc_message{font-size:1em}}@media screen and (min-width: 992px){.cc_container .cc_message{font-size:1em}}.cc_container{background:#fff;color:#999;font-size:17px;font-family:"Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;box-sizing:border-box;border:1px solid #ccc}.cc_container ::-moz-selection{background:#ff5e99;color:#fff;text-shadow:none}.cc_container .cc_btn,.cc_container .cc_btn:visited{color:#000;background-color:#f1d600;transition:background 200ms ease-in-out,color 200ms ease-in-out,box-shadow 200ms ease-in-out;-webkit-transition:background 200ms ease-in-out,color 200ms ease-in-out,box-shadow 200ms ease-in-out;border-radius:5px;-webkit-border-radius:5px}.cc_container .cc_btn:hover,.cc_container .cc_btn:active{background-color:#d7bf00;color:#000}.cc_container a,.cc_container a:visited{text-decoration:none;color:#31a8f0;transition:200ms color}.cc_container a:hover,.cc_container a:active{color:#555}@-webkit-keyframes slideUp{0%{-webkit-transform:translateY(66px);transform:translateY(66px)}100%{-webkit-transform:translateY(0);transform:translateY(0)}}@keyframes slideUp{0%{-webkit-transform:translateY(66px);-ms-transform:translateY(66px);transform:translateY(66px)}100%{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}}.cc_container,.cc_message,.cc_btn{animation-duration:0.8s;-webkit-animation-duration:0.8s;-moz-animation-duration:0.8s;-o-animation-duration:0.8s;-webkit-animation-name:slideUp;animation-name:slideUp}
