@charset "UTF-8";
.viewport {
  width: 640px;
  height: 480px;
}
.viewport canvas, video {
  width: 640px;
  height: 480px;
}
.viewport canvas.drawingBuffer, video.drawingBuffer {
  margin-left: -640px;
}
@media (max-width: 603px) {
  .viewport {
    width: 300px;
    height: 300px;
    overflow: hidden;
  }
  .viewport canvas, video {
    margin-top: -50px;
    width: 300px;
    height: 400px;
  }
  .viewport canvas.drawingBuffer, video.drawingBuffer {
    margin-left: -300px;
  }
}