/* CSS Menus - Horizontal CSS Menu with Dropdown and Popout Menus - 20050131 */

/* Begin CSS Popout Menu  */
#menuStripe {
	background-image: url(/images/r2/navigation/background_nav.gif);
	background-repeat: repeat-x;
	width: 960px;
	margin:0 auto;
}
#menubg {
	background: transparent url(/images/r2/navigation/background_nav_right.gif) no-repeat scroll right top;
	width: 960px;
	height: 60px;
	margin: auto;
}
#menu {
	text-align: left;
	height: 60px;
	margin-right: 10px;
	background: transparent url(/images/r2/navigation/background_nav_left.gif) no-repeat scroll left top;
	}
#menu ul {
	list-style: none;
	margin: 0;
	padding: 3px 0 0 0;
	/*set width here if same for each, or inline if different for each*/
	float:right;
	z-index:2;
}
#menu h2 {
	margin: 0;
	padding: 0;
	border: 0;
}

#menu ul ul a {
	font-size: 11px;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	display: block;
	margin: 0;
	padding: 5px 5px;
	color: #333; 
	background-color: #ededed;
	text-decoration: none;
}
#menu ul a {
	display: block;
	margin: 0;
	padding: 0;
}
#menu ul a:hover {
	background: transparent url(/images/r2/navigation/nav_left.png) no-repeat scroll left top;
}
#menu ul a span {
	display: block;
	padding: 15px 14px;
	font-size: 13px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	color:#fff;
}
#menu ul a:hover span {
	background: transparent url(/images/r2/navigation/nav_right.png) no-repeat scroll right top;
}

#menu ul ul a:hover {
	color: #012d6b;
	background: none;
	background-color:#fff;
}

#menu li 
{
    position: relative;
    z-index:2;
}
#menu ul ul li {
	border-bottom: 1px dotted #777;
	}
#menu ul ul {
	position: absolute;
	z-index: 500;
	border: 1px solid #555;
	background-color:#ededed;
	width: 150px;
}

#menu ul ul ul {
    position: absolute;
    top: 0;
    left: 100%;
}

div#menu ul ul {
	display: none;
}

div#menu ul ul,
div#menu ul li:hover ul ul,
div#menu ul ul li:hover ul ul {	
	display: none;
}

div#menu ul li:hover ul,
div#menu ul ul li:hover ul,
div#menu ul ul ul li:hover ul {
	display: block;
	}

 /* End CSS Popout Menu */
