body {
	margin: 0px;
	padding: 0px;
}
#masthead {
	height: 100px;
	width: 960px;
	margin:0 auto;
}
#logoR2 {
	position: relative;
	left: 0;
	top:10px;
	width:300px;
	}
#searchR2 {
	margin: 0;
	background: transparent url(/images/r2/background_search.gif) no-repeat scroll left top;
	padding:7px;
	margin-bottom:20px;
}
#searchR2 input {
    height:15px;
    font-size:11px;
    color:#555;
    width:160px;
}
#searchR2 .srch-submit {
	background: transparent url(/images/r2/background_search_submit.gif) no-repeat scroll left top;
    border:medium none;
    cursor:pointer;
    font-size:0;
    height:19px;
    padding-top:7px;
    width:30px;
    margin-left:4px;
}
#search {
	float: right;
	position: absolute;
	padding-right: 30px;
	padding-top: 5px;
	text-align: right;
	top: 5px;
	right: 5px;
	height: 60px;
}
div.phoneNumber {
	color: #0A1144;
	font-family: Arial, Helvetica, sans-serif;
	padding: 40px 0 0 0;
	text-align: right;
	float:right;
}
div.phoneNumber a {
	margin-bottom:5px;
}
div#flashR2 {
	height: 155px;
	background-image: url('/images/r2/tile_flash.jpg');
	background-repeat: repeat-x;
}
.image {
	border: 1px solid #666666;
	padding: 0px;
	margin: 7px;
}
#navigation {
	clear: left;
	background-image: url(/images/r2/tile_navigation.jpg);
	background-repeat: repeat-x;
	width: 100%;
	white-space: nowrap;
}
#contentArea {
	width: 940px; /* was 760px padding here */
	background-repeat: no-repeat;
	padding: 20px 10px; /* was 25px padding here */
	margin:0px auto;
}
#contentWrapper 
{
    /*
	background-image: url(/images/r2/tile_below_nav.jpg);
	background-repeat: repeat-x;
*/
	width: 960px;
	margin:0 auto;
}
#footerBar {
	border-bottom: 1px solid #B4B4B4;
	padding-top:20px;
	height: 1px;
	margin-bottom: 10px;
	clear:both;
}
.dividerVertical {
	background-image: url(/images/r2/divider.gif);
	background-repeat: repeat-y;
	width: 29px;
}
#main {
	width: 760px;
}
#leftR2 {
	width: 670px; /* was 541px padding here */
	padding-left:20px;
	padding-right:10px;
}
#spacerR2 {
	width: 19px;
}
#rightR2 {
	width: 220px;
	padding:0;
}
/* Old Styles */
.rightmenu ul {
    list-style-position: outside;
    margin-left: 18px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom:0;
}
caption {
    color: #ffffff;
    padding: 2px;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    width: 100%;
    background-color: #647A93;
}
thead td, thead th, .thead{
    font-weight: bold;
    font-size: 12px;
    text-align: left;
    background-color: #DBE5EF;
}
table.gbord {
	border:1px solid #C0C0C0;
	width: 99%;
}
#partnerHeader li {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
dt {
    font-weight: bold;
}
.newsArticle {
    border: 1px dotted #336699;
    margin: 10px 0 10px 0;
}
.indent {
	padding-left:1em;
}
.bottomspace {
	margin: 0 0 1em 0;
}
ul.listSpace li, li.listSpace  {
	margin-bottom: .5em;
}
.spacelist dd, .spacelist li {
    margin-bottom: 8px;
}
.threeCol {
    width: 150px;
    float: left;
    padding-bottom: 10px;
    padding-left: 6px;
}
.twocolwrapper {
	margin: 10px 0;
}
.twoCol {
    width: 50%;
    float: left;
}
.twoColLinks {
	margin: 0 0 20px 0;
	padding:20px 0px 20px 0px;
	clear:both;
	width:100%;
}
.twoColLinks ul{
	float: left;
	width: 47%;
	padding: 0px 2% 0px 0px;
	margin: 0px;
	list-style-image:none;
	list-style-type:none;
}
.twoColLinks ul li{
	padding:5px 0px 5px 0px;
	margin: 0;
	border-bottom: thin;
	border-bottom-style: dotted;
	border-bottom-width:1px;
}
.oneColList {
	margin: 0px 0 0 0;
	padding:0px 0px 20px 0px;
	clear: both;
	width:100%;
}
.oneColList ul{
	width: 96%;
	padding: 0 2% 0 0;
	margin: 0;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}
.oneColList ul li{
	padding:10px 0px 10px 0px;
	margin: 0;
	border-bottom: thin;
	border-bottom-style: dotted;
	border-bottom-width:1px;
}
.oneColList p {
	margin:0 0 1em 0;
	padding:0;
}
.linkBox {
	padding: 5px 1em 5px 1em;
	margin: 15px 0 0 0;
	background-color: #E6E6E6;
	border:solid 1px #707070;
	clear: both;
}
.break,
.headingBreak {
    clear: both;
}
.hr {
    color: #336699;
}
.nomargin {
    margin-top: 0;
    margin-bottom: 0;
}
.rightbox{
    float: right;
    clear: right;
}
.rightmenu {
	margin: 0 0px 10px 0px;
	text-align: left;
}
.leftbox {
    float: left;
}
.leftbox, .rightbox {
    text-align: center;
}
.leftbox,
.rightbox,
.rightmenu {
	padding: 10px;
	font-weight: normal;
}
.quotation {
    font-size: 120%;
    margin-left: 20px;
	margin-right: 20px;
    font-style:italic;
}
.borderBox {
    background-color: #DBE5EF;
    border-style: solid;
    border-width: 2px;
    border-color: #cccccc;
    padding: 8px;
}
.featuredProduct {
    padding: 20px;
    border: 1px dotted #ccc;
}
.PRSubtitle {
    font-size: 13pt;
    font-style:italic
}
.timestamp {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    text-decoration: none;
}
.submit {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 11px;
    background: #FF0000;
    color: #FFFFFF;
    text-decoration: none;
}
.alert {
	font-weight: bold;
	color: #ff0000;
	}
.field {
    font-family:arial,sans-serif;
    font-size:11px;
    color: #000000;
    background:#FFFFFF;
}
.clear {
	clear:both;
}
#bannerR2 {
	background-image: url(/images/r2/banner-barcodebg.jpg);
	background-repeat: repeat-x;
}
#homebanner {
	background-image: url(/images/r2/banner-bg.jpg);
	margin-left: auto;
	margin-right: auto;
	position:relative;
	height: 156px;
	width: 811px;
	clear: both;
}
.slide {
	background-color:transparent;
	height:156px;
	position:absolute;
	width:811px;
	left: 0px;
	top: 0px;

}
.slide p {
	padding:5px;
}
.solutionoverview {
	width: 520px;
	height: 240px;
	background-image:url(/images/banners/solution-overview-bg.gif);
	padding: 5px 10px 5px 10px;
	margin: 0 0 1.5em 0;
	font-size: 1.375em;
	line-height:1.5em;
	color:#fff;
}
#overview {
	width: 540px;
	margin: 0 0 1.5em 0;
	background-color: #929292;
}
.ovtitle {
	background-image: url(/images/banners/ov-title-bg.gif);
	background-color: #ffffff;
	height: 34px;
	width: 100%;
}
.ovtitlecontent {
	margin: 0;
	padding:0;
	height: 34px;
	overflow:hidden;
}
.ovtitlecontent h1 {
	padding: 8px 1px 10px 5px;
	margin: 0;
	background-image:url(/images/banners/ov-title-left.gif);
	background-repeat:no-repeat;
	background-position:left top;
	font-size: 16px;
}
.ovtitlecontent h1 span {
	background-image: url(/images/banners/ov-title-right.gif);
	background-repeat:no-repeat;
	background-position:right top;
	padding: 8px 40px 10px 5px;
	margin: 0;
}
.ovbody {
	background-image: url(/images/banners/ov-body-bg.gif);
	background-repeat:no-repeat;
	background-position: top;
	background-color: #929292;
	width: 520px;
	padding: 10px 10px 10px 10px;
	margin: 0;
	font-size: 1.25em;
	line-height:1.5em;
	color:#fff;
}
.ovbottom {
	background-image: url(/images/banners/ov-bottom.gif);
	background-color:#ffffff;
	height: 8px;
	width: 540;
	clear: both;
}

/* Document DL Box
---------------------------------------------------------------------*/
.docBox {
	float: right;
	margin: 10px;
	width: 200px;
}

.docBoxTop {
	background: url(/images/layout/doc-dl-top.jpg) no-repeat top left;
	height: 5px;
}

.docBoxMid {
	background-color: #e7e7e7;
	padding: 10px;
}
	div.docBoxMid h3 {
		color: #4d4d4f;
		margin: 0 0 .5em;
	}

	div.docBoxMid p {
		margin: 0;
	}

.docBoxBtm {
	background: url(/images/layout/doc-dl-btm.jpg) no-repeat top left;
	height: 70px;
}
	div.docBoxBtm h3, div.docBoxBtm h3 a {
		color: #95bce1;
		font-weight: bold;
		padding: 30px 30px 10px 7px;
	}
	div.docBoxBtm h3 a:hover {
		color: #012D6B;
	}

/* Columned Lists
---------------------------------------------------------------------*/
ul.3col {
	clear: both;
	display:block;
	margin: 0;
	padding: 0;
}
	ul.3col li {
		border: 1px solid #333;
		float: left;
		width: 200px;
		margin: 15px 20px 15px 0;	
	}

.clearfix:after { 
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.contentclear {
	display: none;
	clear: both;        /* extend height of #content to longest column */
	height: 1px;
  	overflow: hidden;   /* prevent IE expanding the container */
  	margin: 0; 
}


/* Jquery Sidebar Accordion
---------------------------------------------------------------------*/

#accordion {
	background: #e4f1fd;
	margin-bottom: 15px;
	/* Corner rounding */
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

	#accordion div {
		/*padding: 0 10px;*/
	}
	
	#accordion p {
		padding-left: 10px;
	}

	#accordion h3 {
		background: #cae2fa;
		border: 1px solid #b6d1ed;
		color: #012D6B;
		margin: 0;
		padding: 10px;
	}
	
		#accordion h3.accTop {
			-moz-border-radius: 6px 6px 0 0;
			-webkit-border-radius: 6px 6px 0 0;
			border-radius: 6px 6px 0 0;
		}
		
		#accordion h3.accBtm {
			-moz-border-radius: 0 0 6px 6px;
			-webkit-border-radius: 0 0 6px 6px;
			border-radius: 0 0 6px 6px;
		}
		
		#accordion h3 a {
			color: #012D6B;
			text-decoration: none;
		}
		
		#accordion ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}	
			
			#accordion ul li a {
				display: block;
				padding: 5px 0 5px 15px;
			}
			
			#accordion ul li a:hover {
				background: #cae2fa;
			}

/* Buttons
---------------------------------------------------------------------*/

.btn {
	background: #CAE2FA;
	display: inline-block;
	padding: 6px 10px 6px;
	color: #012D6B;
	text-decoration: none;
	font-weight: lighter;
	line-height: 1;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 1px solid rgba(0,0,0,0.10);
	position: relative;
	cursor: pointer;
}

.btn:hover {
	background: #dfefff;
}

.btn:active {
	top: 1px;
}

/* Sizes ---------- */

.small.btn {
	font-size: 11px;
}

.medium.btn {
	font-size: 13px;
}

.large.btn {
	font-size: 16px;
	padding: 9px 14px 8px;
}

.xlarge.btn {
	font-size: 22px;
	padding: 13px 18px 12px;
}

@media print {
	
	#menu,
	#searchBox {
		display: none;
		}
	#contentArea {
		border-top: 1px solid #95BCE1;
		}
	}
